/* 
    Document   : style
    Created on : 14 Feb, 2011, 10:22:35 AM
    Author     : Satyam Sharan <satyam.sharan@hotmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.Interface{
    width: 700px;
    height: 400px;
}
.Interface-vp1{
    background: url("images/wire1.png")transparent 100% 100px no-repeat;
    width:100%;
}
.Interface-vp2{
    background: url("images/wire2.png")transparent 0% 100px no-repeat;
    width:100%;
    height: 250px;
}
.Interface-inVp1{
    padding: 5px;
    border: #002200 dotted 2px;
}

.Interface-inVp11{
    padding: 5px;
    border: #002200 dotted 2px;
}
.Interface-display{
    width:100%;
    border: solid 3px;
}
.Interface-voltage{
    width: 40px;
    height: 40px;
    padding: 10px;
    font:bold small sans-serif;
    border: none;
    background: transparent center no-repeat url("images/knob.png");
}
.Interface-voltage[disabled] {
    cursor: default;
    color: #888;
    opacity:.5;
    background: transparent center no-repeat url("images/knobDisabled.png");
}
.Interface-voltage[disabled]:hover {
    border: none;
    cursor: default;
}
.Interface-voltageLabel{
    font:bold small sans-serif;
}
.Interface-voltage:hover{
    border-left:activeborder ridge medium;
    border-top:activeborder ridge medium;
    cursor: pointer;

}
.Interface-voltMeterLabel{
    font:bold small sans-serif;
}
.Interface-voltMeter{
    background-color: #001500;
    color: lightgreen;
    padding-top: 10px;
    font:bold large sans-serif;
    border: solid 1px;
    width: 150px;
    height: 30px;
}
.Interface-reset{
    font:bold small sans-serif;
}
.Interface-masterReset{
    font:bold small sans-serif;
}
.Interface-img{
    
    border: black solid 2px;
    width: 200px;
    height: 200px;
}
.Interface-brakedownList{
    width: 100%;
    height: 100%;
    text-align: center;
    font: bold 12px sans-serif;
}
.Interface-message{
    color: red;
    font: bold 12px sans-serif;
}
.Interface-graph{

}
.Graph-canvas{
    border-bottom: solid 2px;
    border-left: solid 2px;
}
.Graph-yLabel{
    color: blue;
    font: bold 12px sans-serif;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    width: 100%;


}

.Graph-xLabel{
    color: blue;
    font: bold 12px sans-serif;
    text-align: right;
}
