/* 
    Document   : style
    Created on : Dec 6, 2011, 2:22:42 PM
    Author     : Satyam Sharan <satyam.sharan@hotmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.Base{
    width: 1200px;
}
.Base-imgL{
    width: 230px;
    height: 200px;
}
.Base-img{
    width: 150px;
    height: 200px;
}
.Base-imgR{
    width: 150px;
    height: 200px;
}
.Base-distance{
    font: bold medium sans-serif;
    color: limegreen;
}
.Base-voltageInp{
    font: bold medium sans-serif;
    color: limegreen;
}
.Base-voltage{
    font: bold medium sans-serif;
    color: limegreen;
}
.Base-addButton{
    font: small sans-serif;
    width: 70px;
    height: 25px;
}
.Base-removeButton{
    font: small sans-serif;
    width: 70px; 
    height: 25px;
}
.Base-vp{
    border: green double medium;
    width: 280px;
    background: black;
}